* {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:cadetblue;
}

h1{
    text-align: center;
    font-size: larger;
    font-style: italic;
}



.box1,.box2,.box3{
    height: 200px;
    width:423px;
    display: inline-block;
    box-shadow: 2px 5px 4px rgb(65, 49, 5);
    border: 1px solid black;
    overflow: hidden;
}

.box1{
    
    background-color: lightpink;
    padding: 15px;
    color: white;
    margin: 30px;
    padding-top: 0px;
    padding-right: 0px;
    border-right-width: 0px;

}

.box2{
    
    background-color: lightgreen;
    padding: 15px;
    color: white;
    margin: 30px;
    padding-top: 0px;
    padding-right: 0px;
}
.box3{

    background-color: lightsalmon;
    padding: 15px;
    color: white;
    margin: 30px;
    padding-top: 0px;
    padding-right: 0px;
}

.justify{
    text-align: left;
    clear: right;
}
.coffee{
    text-align: right;
    margin: 15px;
    
}

.nested-box{
    border: 1px solid black;
    height: 50px;
    background: grey;
    float: right;
}

/*for desktop*/

@media (min-width:992px)
{
#box1,#box2,#box3{
    width: 423px;
    height: 200px;
}
}

@media (max-width:767px) {

#box1,#box2,#box3{
    width:423px;
    height:200px;
}
}

/*@media (min-width:767px) and (max-width:991px) {

#box1,#box2{
    height: 100px;
    width: 100px;
}

#box3{
    width: 50%;
}
}*.


